<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prime Web</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <!-- Fonts  -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/Content/simple-line-icons.css"/>
    <!-- CSS Animate -->
    <link rel="stylesheet" href="~/Content/animate.css"/>
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="~/Content/styles-menu.css"/>
    <!-- Feature detection -->
    <script src="~/scripts/modernizr-2.6.2.min.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2-bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/styles-reportes.css" />
    <script src="~/scripts/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Styles/sweetalert.css"/>
    <script src="~/scripts/justgage.js"></script>
    <script src="~/scripts/raphael-2.1.4.min.js"></script>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     <script src="/bundles/ie?v=2XveJ5PauxD4hKrKMGJAy98WTe1yUixdEmsfBq9sjeQ1"></script>

     <![endif]-->

</head>
<body>
    @{
        List<Prime_Web.Models.Dimension> dim = new List<Prime_Web.Models.Dimension>();
        if (System.Web.HttpContext.Current.Session["dimensiones"] != null)
        {
            dim = (List<Prime_Web.Models.Dimension>)System.Web.HttpContext.Current.Session["dimensiones"];
        }
    }
    <!-- Page Wrapper-->
    <section id="main-wrapper" class="theme-default">
        <!-- Top Header -->
        <header id="header">
            <ul class="nav navbar-nav navbar-left">
                <li class="toggle-navigation toggle-left">
                    <button class="sidebar-toggle" id="toggle-left">
                        <i class="fa fa-bars"></i>
                    </button>
                </li>
            </ul>
            <div class="brand">
                <img src="~/Images/LogoAlargadoTransparente.png" />
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown profile">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="meta">
                            <span class="avatar">
                                <img src="~/Images/profile.png" class="img-circle" alt="">
                            </span>
                            <span class="text">@System.Web.HttpContext.Current.Session["User"]</span>
                            <span class="caret"></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight" role="menu">
                        <li>
                            <a href="../Menu/CerrarSesion">
                                <span class="icon">
                                    <i class="fa fa-sign-out"></i>
                                </span>Cerrar
                            </a>
                        </li>
                    </ul>
                </li>
                <li></li>
            </ul>
        </header>
        <aside class="sidebar sidebar-left">
            <nav>
                <h5 class="sidebar-header">Favoritos</h5>
                <ul class="nav nav-pills nav-stacked">
                    @*<li><a href="#" title="Favoritos"><i class='fa  fa-fw fa-star-o'></i>Favoritos</a>*@
                    @*@Html.Raw(ViewBag.Menu)*@
                    @*</li>*@
                </ul>
            </nav>
            <nav>
                <h5 class="sidebar-header">Menú</h5>
                <ul class="nav nav-pills nav-stacked">
                    @*<li><a href="#" title="Menú"><i class='fa  fa-fw fa-list-alt'></i>Menú</a>*@
                    @Html.Raw(System.Web.HttpContext.Current.Session["Menu"])
                    @*</li>*@
                </ul>
            </nav>
        </aside>
        <section class="main-content-wrapper">
            @*<div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="../Menu/Menu">Principal</a>
                    </li>
                </ul>
            </div>*@
            @if (!string.IsNullOrEmpty(ViewBag.Parametros))
            {
                <div id="config" class="config">
                    <h4>PARAMETROS<a href="javascript:void(0)" class="config-link closed"><i class="fa fa-indent"></i></a></h4>
                    <div class="config-swatch-wrap">
                        <div class="row">
                            <form id="formParam" action="../Reporte/cargar" method="POST">
                                <ul class="list-group scrollable-menu">
                                    @Html.Raw(ViewBag.Parametros)
                                    <li class="list-group-item"><button type="button" class="btn btn-primary" id="cargar">Cargar</button></li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            }
            <section id="main-content">
                @*@RenderSection("content", false)*@
                @RenderBody()
            </section>
        </section>
        @*<div class="navbar navbar-default navbar-fixed-bottom">
            <div style="text-align:center">
                <footer>
                    <img src="~/Images/LogoAlargadoTransparente.png" />
                </footer>
            </div>
        </div>*@
    </section>
    
    @*<div class="navbar navbar-default bottom">
        <div style="text-align:center">
            <footer>
                <img src="~/Images/LogoAlargadoTransparente.png" />
            </footer>
        </div>
    </div>*@
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    @*<script src="~/scripts/jquery-1.9.1.js"></script>*@
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.navgoco.min.js"></script>
    <script src="~/scripts/app.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.min.js"></script>
    <script src="~/scripts/raphael-2.1.4.min.js"></script>
    <script src="~/scripts/justgage.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="~/scripts/controles.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#cargar').click(function () {
                var dimVal = [];

                @foreach (var item in dim)
                {
                    if(item.tipoControl.Equals("checkbox"))
                    {
                        @: obtenerCheck('@item.idControl', '@item.nombreDimension', dimVal)
                    }
                    if (item.tipoControl.Equals("select"))
                    {
                        @: obtenerSelect('@item.idControl', '@item.nombreDimension', dimVal)
                                    }
                    if (item.tipoControl.Equals("radiobutton"))
                    {
                        @: obtenerRadio('@item.idControl', '@item.nombreDimension', dimVal)
                                    }
                    if (item.tipoControl.Equals("textarea"))
                    {
                        @: obtenerTextarea('@item.idControl', '@item.nombreDimension', dimVal)
                                    }
                    if(item.tipoControl.Equals("date") || item.tipoControl.Equals("text"))
                    {
                        @: obtenerText('@item.idControl', '@item.nombreDimension', dimVal)
                    }
                }
                //if (tiempo.length > 0) {
                //    dimVal.push("Tiempo");
                //    for (i = 0; i < tiempo.length; i++) {
                //        dimVal.push(tiempo[i]);
                //    }
                //    dimVal.push("|");
                //    tiempo = [];
                //}
                alert(dimVal.join(", "));
            });

            //Generador de gauges encuesta
            var cara1, cara2, cara3, cara4, cara5, cara6, cara7;

            window.onload = function () {
                var cara1 = new JustGage({
                    id: "cara1",
                    value: getRandomInt(0, 100),
                    min: 0,
                    max: 100,
                    symbol: "%",
                    relativeGaugeSize: true,
                });

                var cara2 = new JustGage({
                    id: "cara2",
                    value: getRandomInt(0, 100),
                    min: 0,
                    max: 100,
                    symbol: "%",
                    relativeGaugeSize: true,
                });

                var cara3 = new JustGage({
                    id: "cara3",
                    value: getRandomInt(0, 100),
                    min: 0,
                    max: 100,
                    symbol: "%",
                    relativeGaugeSize: true,
                });

                var cara4 = new JustGage({
                    id: "cara4",
                    value: getRandomInt(0, 100),
                    min: 0,
                    max: 100,
                    symbol: "%",
                    relativeGaugeSize: true,
                });

                var cara5 = new JustGage({
                    id: "cara5",
                    value: getRandomInt(0, 100),
                    min: 0,
                    max: 100,
                    symbol: "%",
                    relativeGaugeSize: true,
                });

                var cara6 = new JustGage({
                    id: "cara6",
                    value: getRandomInt(0, 100),
                    min: 0,
                    max: 100,
                    symbol: "%",
                    relativeGaugeSize: true,
                });

                var cara7 = new JustGage({
                    id: "cara7",
                    value: getRandomInt(0, 100),
                    min: 0,
                    max: 100,
                    symbol: "%",
                    relativeGaugeSize: true,
                });

                setInterval(function () {
                    cara1.refresh(getRandomInt(50, 100));
                    cara2.refresh(getRandomInt(50, 100));
                    cara3.refresh(getRandomInt(50, 100));
                    cara4.refresh(getRandomInt(50, 100));
                    cara5.refresh(getRandomInt(50, 100));
                    cara6.refresh(getRandomInt(50, 100));
                    cara7.refresh(getRandomInt(50, 100));
                }, 2500);
            };

            @if (System.Web.HttpContext.Current.Session["paramDates"] != null)
            {
                List<int> d = (List<int>)Session["paramDates"];

                for (int index = 0; index < d.Count; index++)
                {
                    @: cargarCalendario('@d[index]')
                }
            }
            @if (System.Web.HttpContext.Current.Session["paramSelects"] != null)
            {
                List<int> s = (List<int>)Session["paramSelects"];

                for (int index = 0; index < s.Count; index++)
                { 
                    @: cargarCombo('@s[index]')
                }
            }
        });
    </script>
</body>
</html>
